.inputControl {
     display: flex;
     flex-direction: column;
     margin-bottom: 1em;
}

.inputControl label{
    margin-bottom: .6em;
    font-weight: bold;
}

.inputControl input{
    padding: .7em;
    border-radius: 0;
    border: none;
}

.inputControl input::placeholder{
    color: #7b7b7b;
}