.details {
    padding: 2em;

}

.details h1,
.details h2,
.details p {
    margin-bottom: 0.5em;
}

.details h1 {
    background: rgb(235, 235, 235);
    background: linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(123, 217, 165, 1) 56%, rgba(123, 217, 165, 1) 100%);
    color: #2c4d3f;
    padding: 0.4em;
}

.details_box,
.edit_box {
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flexbox;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    background-color: rgba(123, 217, 165, 1);
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: flex;
    width: 130px;
    height: 50px;
    border-radius: 10px;

}

button:hover {
    color: rgb(84, 252, 17)
}

.curso_info {
    width: 100%;
    border: rgb(33, 104, 27) solid;
    color: rgb(32, 97, 61);

}
.curso_info a {
    text-decoration: none;

}